ion-tab-button.active {
	color:#f5f3f0;
	background-color: white;
	ion-icon,ion-label{
		color: #f5f3f0;
	}
	ion-label{
		border-bottom: 2px solid #f5f3f0
	}
}

ion-tab-button:hover{
    color:#f5f3f0;
	background-color: white;
	ion-icon,ion-label{
		color: #f5f3f0;
	}
}

ion-tab-button.active:hover{
	color: #f5f3f0;
	ion-icon,ion-label{
		color: #f5f3f0;
	}
	
}

ion-icon, ion-label{
	color: #EFEFEF;
}

ion-icon{
	font-size: 30px
}